* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: purple;
}

.title,
.heading,
.heading_small {
    background-color: purple;
    color: white;
    font-weight: 700;
    padding-left: 10px;
}

.title {
    font-size: 40px;
}

.heading {
    font-size: 25px;
}

.heading_small {
    font-size: 20px;
}

.list_item a {
    color: purple;
    font-size: 20px;
    text-decoration: none;
}

.subtext {
    font-weight: 300;
}

.image {
    border-style: solid;
    border-width: 5px;
}